.sidebar {
    width: 250px;
    background-color: #2c2c2e;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
 
  .sidebar-menu, .sidebar-footer {
    display: flex;
    margin-top: 10px;
    flex-direction: column;
  }

  .sidebar-footer{
    border-top: 1px solid #000000;
  }
  
  .menu-item {
    padding: 15px 20px;
    cursor: pointer;
  }
  
  .menu-item.active, .menu-item:hover {
    background-color: #444;
  }